.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.button-start {
  background-color: #F5DEB3;
  border: 2px solid #422800;
  border-radius: 5px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-start:hover {
  background-color: #422800;
  color: #F5DEB3;
}

.button-start:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-start {
    min-width: 120px;
    padding: 0 25px;
  }
}